.btn {
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font: black;

    border: 1px solid black;
    background-image: linear-gradient(-180deg, deepskyblue 0%, white 100%); box-shadow: 0 1rem 1.25rem 0 #10949b inset;
}